@font-face {
	font-family: "Montserrat Black";
		src: url("https://raw.githubusercontent.com/malcvmoore/campus-community-portals/master/css/fonts/Montserrat-Black.otf");
	}

img {
    max-width: 85%;
    margin: 0 auto;
    display: block;
}
.small img {
	max-width: 75%;
}
h1 {
    margin: 10px;
    padding: 5px;
	font-family: 'Montserrat Black', sans-serif;
	color: white;
	font-size: 3.5rem !important;
}

h2,h3 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

h3 {font-size: 2.5rem !important;}

p {
	font-family: 'Ubuntu', sans-serif;
	color: whitesmoke;
}

.header-shadow {text-shadow: 2px 8px 6px rgba(0,0,0,0.4), 0px -5px 35px rgba(255,255,255,0.4);
}

.section:nth-child(1) {
    background-image: url("https://raw.githubusercontent.com/malcvmoore/campus-community-portals/master/images/umd-aerial.jpg");
    background-size: cover;
}

ul { list-style-type: none;}


/* Flexbox */

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.content, .content1, .content3, .mockup, .mockup3 {
	flex:100% !importantw;
	padding: 50px;
}

.mockup3 img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span {
    background: #fff;
}

@media (max-width:700px) {
	.p4 {padding: 5rem;}
}

@media (max-width: 700px) {
	.content, .mockup, .mockup3, .content3, .content1 {
	  flex: 100% !important;
	}
  }