@font-face {
	font-family: "Montserrat Black";
		src: url("/css/fonts/Montserrat-Black.ttf");
	}

img {
    max-width: 85%;
    margin: 0 auto;
    display: block;
}
.small img {
	max-width: 75%;
}
h1 {
    margin: 10px;
    padding: 5px;
	font-family: 'Montserrat Black', sans-serif;
	color: white;
	font-size: 2.5rem;
}

h2,h3 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

h3 {font-size: 1.5rem;}

p {
	font-family: 'Ubuntu', sans-serif;
	color: whitesmoke;
}

.section:nth-child(1) {
	background-image: url("/images/umd-aerial.jpg");
	background-size: cover;
}

ul { list-style-type: none;}


/* Flexbox */

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.content {
	flex: 60%;
	padding: 50px;
}
.content1 {
	flex: 100%;
	padding: 50px;
}
.mockup {
	flex: 40%; 
	padding: 50px;
}

.mockup3, .content3 {
	flex: 33.333333%; 
	padding: 50px;
}

.mockup3 img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px){

	.content, .mockup, .mockup3, .content3 {flex: 100%;}

}



/* Menu Styles */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 12px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span {
    background: #fff;
}

@media (max-width:700px) {
	.p4 {padding: 5rem;}
}

